## Data Cleaning: the runs dataframe

In [1]:
%cd desktop\data-done-quick

C:\Users\jose\desktop\data-done-quick

In [2]:
import numpy as np
import pandas as pd
import re

In [3]:
runs = pd.read_csv('data\\runs.csv', engine = 'python')

In [4]:
runs.head()

,Description,End Time,Name,Start Time,run_id
0,NaN,07/07/2014 23:37:56 +0000,Toejam And Earl 2: Panic On Funkotron,07/07/2014 23:37:56 +0000,972.0
1,NaN,07/07/2014 23:37:56 +0000,Mega Man 3,07/07/2014 23:37:56 +0000,973.0
2,NaN,07/07/2014 23:37:56 +0000,Limbo,07/07/2014 23:37:56 +0000,974.0
3,NaN,07/07/2014 23:37:56 +0000,Rayman 2: The Great Escape,07/07/2014 23:37:56 +0000,975.0
4,NaN,07/07/2014 23:37:56 +0000,Quake 2,07/07/2014 23:37:56 +0000,976.0

In [5]:
runs.loc[runs.Name == "Super Mario World 2: Yoshi's Island"]

,Description,End Time,Name,Start Time,run_id
54,100%,01/05/2012 04:14:57 +0000,Super Mario World 2: Yoshi's Island,01/05/2012 01:00:00 +0000,866.0
239,any% donations for 100%,01/07/2013 02:55:54 +0000,Super Mario World 2: Yoshi's Island,01/07/2013 00:07:00 +0000,6.0
484,100%. Donation incentive for glitched run.,01/06/2014 22:35:00 +0000,Super Mario World 2: Yoshi's Island,01/06/2014 19:43:00 +0000,400.0
896,any% warps race,01/09/2015 02:02:00 +0000,Super Mario World 2: Yoshi's Island,01/08/2015 23:28:00 +0000,857.0
932,100%,07/26/2015 19:28:00 +0000,Super Mario World 2: Yoshi's Island,07/26/2015 16:00:00 +0000,1115.0

In [6]:
def check_title(s, title):
    try:
        return title in s
    except:
        return False

In [7]:
runs.loc[runs.Name.apply(lambda x: check_title(x, "Super Metroid"))]

,Description,End Time,Name,Start Time,run_id
5,100% racetranquilite and dessyreqt,07/07/2014 23:37:56 +0000,Super Metroid,07/07/2014 23:37:56 +0000,977.0
122,any%,01/07/2012 17:15:00 +0000,Super Metroid,01/07/2012 17:15:00 +0000,934.0
206,Dessyreqt,05/27/2012 04:18:00 +0000,Super Metroid,05/27/2012 02:33:00 +0000,1068.0
337,NaN,01/11/2013 05:34:35 +0000,Super Metroid,01/11/2013 04:45:00 +0000,93.0
431,Donate for D e e R F o r C e category,07/29/2013 04:29:55 +0000,Super Metroid,07/29/2013 03:00:00 +0000,192.0
594,race,01/11/2014 06:48:00 +0000,Super Metroid,01/11/2014 05:42:00 +0000,499.0
765,Low% run incentive for glitched any%,06/29/2014 05:32:00 +0000,Super Metroid,06/29/2014 03:47:00 +0000,674.0
928,NaN,01/11/2015 03:43:00 +0000,Super Metroid,01/11/2015 02:03:00 +0000,861.0
1090,Race!,08/02/2015 01:19:00 +0000,Super Metroid,08/02/2015 00:01:00 +0000,1281.0
1143,Bonus Incentive: Super Metroid (Any% 2p1c - Oa...,01/06/2016 00:06:41 +0000,Super Metroid Bonus Any% 2p1c,01/05/2016 22:49:40 +0000,1644.0
1247,Donation Incentive: Save or Kill the Animals,01/10/2016 04:12:14 +0000,Super Metroid Reverse Boss Order,01/10/2016 02:23:14 +0000,1744.0
1423,NaN,07/10/2016 03:22:00 +0000,Super Metroid Any%,07/10/2016 02:10:00 +0000,1935.0
1483,NaN,01/10/2017 18:31:46 +0000,Super Metroid Rotation Any%,01/10/2017 17:19:46 +0000,2004.0
1605,NaN,01/15/2017 05:28:45 +0000,Super Metroid 100%,01/15/2017 03:20:45 +0000,2119.0
1731,NaN,07/08/2017 05:00:00 +0000,Super Metroid Low% Ice Race,07/08/2017 03:50:00 +0000,2257.0
1791,NaN,09/03/2017 22:48:17 +0000,Super Metroid 100% Map Race,09/03/2017 21:14:17 +0000,2635.0
2010,NaN,06/27/2018 05:20:00 +0000,Super Metroid 100% Map Completion,06/27/2018 03:39:25 +0000,3022.0
2082,NaN,06/30/2018 04:36:00 +0000,Tasbot Plays Super Metroid 0% By Sniq And Tota...,06/30/2018 04:20:00 +0000,3097.0

## Handling missing values

In [8]:
runs.loc[~runs.Name.apply(lambda x: isinstance(x, str))]

                               Description End Time  Name Start Time  run_id
10                              8 way race     None  None       None     NaN
11   Feasel  romscout  duckfist  UltraJMan     None  None       None     NaN

In [9]:
runs.loc[runs.Name == 'Castle Crashers']

,Description,End Time,Name,Start Time,run_id
12,Zyre TheSeawolf1 Raen and UraniumAnchor,07/07/2014 23:37:57 +0000,Castle Crashers,07/07/2014 23:37:57 +0000,982.0

In [10]:
runs.count()

Description     770
End Time       2100
Name           2100
Start Time     2100
run_id         2100
dtype: int64

In [11]:
runs.dtypes

Description     object
End Time        object
Name            object
Start Time      object
run_id         float64
dtype: object

In [12]:
runs.ix[12, 'Description'] = runs.ix[10, 'Description'] + '\n' + runs.ix[11, 'Description'] + '\n' + runs.ix[12, 'Description']

C:\Users\jose\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [13]:
runs.iloc[12]

Description    8 way race\n Feasel  romscout  duckfist  Ultra...
End Time                               07/07/2014 23:37:57 +0000
Name                                             Castle Crashers
Start Time                             07/07/2014 23:37:57 +0000
run_id                                                       982
Name: 12, dtype: object

In [14]:
runs = runs.drop(labels = [10, 11])

In [15]:
runs.loc[~(runs.Name.apply(lambda x: isinstance(x, str)) & runs['End Time'].apply(lambda x: isinstance(x, str)) & runs['Start Time'].apply(lambda x: isinstance(x, str)))]

Empty DataFrame
Columns: [Description, End Time, Name, Start Time, run_id]
Index: []

## Extracting run categories

In [16]:
runs['name_token'] = runs.Name.apply(lambda x: x.split(' '))

In [17]:
runs.name_token.head()

0    [Toejam, And, Earl, 2:, Panic, On, Funkotron]
1                                   [Mega, Man, 3]
2                                          [Limbo]
3                 [Rayman, 2:, The, Great, Escape]
4                                       [Quake, 2]
Name: name_token, dtype: object

In [18]:
word_hist = {}

def word_count(tokens, word_hist):
    for token in tokens:
        if token in word_hist.keys():
            word_hist[token] += 1
        else:
            word_hist[token] = 1
            
    return word_hist

In [19]:
runs.name_token.apply(lambda x: word_count(x, word_hist))

0       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
1       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
3       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
4       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
5       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
6       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
7       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
8       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
9       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
12      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
13      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
14      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
15      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
16      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
17      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
18      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
19      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
20      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
21      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
22      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
23      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
24      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
25      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
26      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
27      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
28      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
29      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
30      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
31      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
                              ...
2072    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2073    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2074    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2075    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2076    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2077    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2078    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2079    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2080    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2081    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2082    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2083    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2084    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2085    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2086    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2087    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2088    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2089    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2090    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2091    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2092    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2093    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2094    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2095    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2096    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2097    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2098    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2099    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2100    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2101    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
Name: name_token, Length: 2100, dtype: object

In [20]:
runs[runs.Name.apply(lambda x: check_title(x, 'Donkey Kong Country'))]

,Description,End Time,Name,Start Time,run_id,name_token
125,Twig,01/07/2012 17:15:00 +0000,Donkey Kong Country 2,01/07/2012 17:15:00 +0000,937.0,"[Donkey, Kong, Country, 2]"
197,Essentia,05/26/2012 22:13:00 +0000,Donkey Kong Country 2,05/26/2012 21:13:00 +0000,1059.0,"[Donkey, Kong, Country, 2]"
300,all levels race,01/09/2013 22:21:38 +0000,Donkey Kong Country,01/09/2013 21:41:00 +0000,62.0,"[Donkey, Kong, Country]"
301,NaN,01/09/2013 23:13:02 +0000,Donkey Kong Country 2,01/09/2013 22:25:00 +0000,63.0,"[Donkey, Kong, Country, 2]"
302,Any%,01/10/2013 01:03:55 +0000,Donkey Kong Country Returns,01/09/2013 23:20:00 +0000,64.0,"[Donkey, Kong, Country, Returns]"
365,any%,07/25/2013 21:57:00 +0000,Donkey Kong Country Returns,07/25/2013 20:12:00 +0000,135.0,"[Donkey, Kong, Country, Returns]"
532,101%. Donations for a glitched run,01/08/2014 23:57:00 +0000,Donkey Kong Country,01/08/2014 22:33:00 +0000,443.0,"[Donkey, Kong, Country]"
533,possible race and donation incentive for lost...,01/09/2014 00:52:00 +0000,Donkey Kong Country 2,01/08/2014 23:57:00 +0000,444.0,"[Donkey, Kong, Country, 2]"
534,any% donations for warpless,01/09/2014 01:52:00 +0000,Donkey Kong Country 3,01/09/2014 00:52:00 +0000,445.0,"[Donkey, Kong, Country, 3]"
612,All Stages,06/23/2014 00:03:00 +0000,Donkey Kong Country,06/22/2014 23:20:00 +0000,530.0,"[Donkey, Kong, Country]"
613,Race!,06/23/2014 01:01:00 +0000,Donkey Kong Country 2: Diddy's Kong Quest,06/23/2014 00:03:00 +0000,678.0,"[Donkey, Kong, Country, 2:, Diddy's, Kong, Quest]"
768,any%,01/04/2015 19:06:00 +0000,Donkey Kong Country Tropical Freeze,01/04/2015 17:00:00 +0000,708.0,"[Donkey, Kong, Country, Tropical, Freeze]"
836,4-way race,01/07/2015 01:56:00 +0000,Donkey Kong Country 2,01/07/2015 00:42:00 +0000,709.0,"[Donkey, Kong, Country, 2]"
937,All Stages race!,07/26/2015 22:52:00 +0000,Donkey Kong Country,07/26/2015 22:10:00 +0000,1120.0,"[Donkey, Kong, Country]"
939,NaN,07/27/2015 00:22:00 +0000,Donkey Kong Country 3,07/26/2015 23:19:00 +0000,1122.0,"[Donkey, Kong, Country, 3]"
1171,NaN,01/06/2016 22:07:20 +0000,Donkey Kong Country Any% All Stages,01/06/2016 21:20:10 +0000,1673.0,"[Donkey, Kong, Country, Any%, All, Stages]"
1172,NaN,01/06/2016 23:55:11 +0000,Donkey Kong Country 2: Diddy's Kong Quest 102%,01/06/2016 22:07:20 +0000,1674.0,"[Donkey, Kong, Country, 2:, Diddy's, Kong, Que..."
1255,NaN,07/04/2016 00:36:00 +0000,Donkey Kong Country: Tropical Freeze Any%,07/03/2016 22:46:00 +0000,1769.0,"[Donkey, Kong, Country:, Tropical, Freeze, Any%]"
1337,NaN,07/06/2016 21:42:00 +0000,Donkey Kong Country 3 Any%,07/06/2016 20:37:00 +0000,1850.0,"[Donkey, Kong, Country, 3, Any%]"
1583,NaN,01/14/2017 04:51:35 +0000,Donkey Kong Country Trilogy Relay Trilogy Relay,01/14/2017 02:18:35 +0000,2101.0,"[Donkey, Kong, Country, Trilogy, Relay, Trilog..."
1767,NaN,09/02/2017 18:13:47 +0000,Donkey Kong Country 2 Any%,09/02/2017 17:28:03 +0000,2612.0,"[Donkey, Kong, Country, 2, Any%]"
1817,NaN,01/08/2018 16:49:00 +0000,Donkey Kong Country 2: Diddy's Kong Quest Any%...,01/08/2018 15:35:00 +0000,2667.0,"[Donkey, Kong, Country, 2:, Diddy's, Kong, Que..."
1818,NaN,01/08/2018 17:55:00 +0000,Donkey Kong Country Reverse Boss Order,01/08/2018 16:49:00 +0000,2668.0,"[Donkey, Kong, Country, Reverse, Boss, Order]"

In [21]:
def tokenize(s):
    try:
        return s.split(' ')
    except:
        return []

In [22]:
runs['desc_token'] = runs.Description.apply(tokenize)

In [23]:
runs.desc_token.apply(lambda x: word_count(x, word_hist))

0       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
1       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
3       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
4       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
5       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
6       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
7       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
8       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
9       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
12      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
13      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
14      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
15      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
16      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
17      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
18      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
19      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
20      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
21      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
22      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
23      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
24      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
25      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
26      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
27      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
28      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
29      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
30      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
31      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
                              ...
2072    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2073    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2074    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2075    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2076    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2077    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2078    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2079    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2080    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2081    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2082    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2083    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2084    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2085    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2086    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2087    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2088    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2089    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2090    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2091    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2092    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2093    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2094    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2095    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2096    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2097    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2098    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2099    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2100    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2101    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
Name: desc_token, Length: 2100, dtype: object

In [24]:
words = pd.DataFrame.from_dict(word_hist, orient = 'index')

In [25]:
words = words.rename(index = str, columns = {0 : 'count'})

In [26]:
words.sort_values(by = 'count', ascending = False).head(10)

       count
Any%     663
The      336
Of       253
Super    208
for      200
         187
2        163
Mario    141
All      116
Man      104

In [27]:
words['word'] = words.index

In [28]:
words.loc[['%' in s for s in words.word]].sort_values(by = 'count')

             count         word
Blooper%         1     Blooper%
Broken%          1      Broken%
marvel%          1      marvel%
glitches%        1    glitches%
101%.            1        101%.
broken%          1      broken%
Cutscenes%       1   Cutscenes%
DanielSan%       1   DanielSan%
Bee%             1         Bee%
Max%             1         Max%
artifacts%       1   artifacts%
W-Fist%          1      W-Fist%
vision%          1      vision%
Glitch%          1      Glitch%
shoutouts%       1   shoutouts%
Nemesis%;        1    Nemesis%;
any%;            1        any%;
(hardest%)       1   (hardest%)
NTA%             1         NTA%
CCH%             1         CCH%
any%.            1        any%.
Hard%            1        Hard%
Houlihan%        1    Houlihan%
Glitchless%      1  Glitchless%
(6%)             1         (6%)
Talk%            1        Talk%
Pre-Show%        1    Pre-Show%
Amy%             1         Amy%
Cutscene%        1    Cutscene%
Pacifist%        1    Pacifist%
102%             1         102%
Tasbot%          1      Tasbot%
Any%/100%        1    Any%/100%
Cleric%          1      Cleric%
low%.            1        low%.
Mania%           1       Mania%
106%             2         106%
cutscene%        2    cutscene%
1%               2           1%
%                3            %
0%               3           0%
(Any%            4        (Any%
low%             4         low%
100%.           11        100%.
Low%            11         Low%
any%            39         any%
100%            92         100%
Any%           663         Any%

In [29]:
words.loc[['less' in s for s in words.word]]

             count         word
Swordless        2    Swordless
Deathless        2    Deathless
Wingless         1     Wingless
Glitchless      17   Glitchless
Warpless        19     Warpless
Zipless          2      Zipless
(Swordless)      1  (Swordless)
Scriptless       2   Scriptless
(Warpless)       1   (Warpless)
(Zipless)        1    (Zipless)
Glitchless%      1  Glitchless%
potionless.      1  potionless.
warpless         3     warpless
warpless.        1    warpless.
Warpless.        1    Warpless.
Hoverless        1    Hoverless

In [30]:
runs.Description = runs.Description.fillna('')

In [31]:
runs.count()

Description    2100
End Time       2100
Name           2100
Start Time     2100
run_id         2100
name_token     2100
desc_token     2100
dtype: int64

In [32]:
def search(s):
    return runs.loc[(runs.Description.apply(lambda x: s in x)) | (runs.Name.apply(lambda x: s in x))]

In [33]:
search('co-op')

,Description,End Time,Name,Start Time,run_id,name_token,desc_token
33,4 player co-op on advancedkubelwagon takumi ...,07/07/2014 23:37:59 +0000,Left 4 Dead 2,07/07/2014 23:37:59 +0000,1003.0,"[Left, 4, Dead, 2]","[4, player, co-op, on, advancedkubelwagon, , t..."
53,co-op,01/05/2012 00:48:59 +0000,Portal 2,01/04/2012 23:36:00 +0000,865.0,"[Portal, 2]",[co-op]
133,co-op.,01/07/2012 17:15:00 +0000,Contra Iii,01/07/2012 17:15:00 +0000,945.0,"[Contra, Iii]",[co-op.]
134,co-op,01/07/2012 17:15:00 +0000,Kirby And The Amazing Mirror,01/07/2012 17:15:00 +0000,946.0,"[Kirby, And, The, Amazing, Mirror]",[co-op]
146,4-player co-op. At least; co-op is what they c...,01/07/2012 17:15:00 +0000,Magicka,01/07/2012 17:15:00 +0000,958.0,[Magicka],"[4-player, co-op., At, least;, co-op, is, what..."
263,4-player co-op,01/08/2013 08:07:13 +0000,Left 4 Dead,01/08/2013 06:44:00 +0000,27.0,"[Left, 4, Dead]","[4-player, co-op]"
283,co-op,01/08/2013 23:36:24 +0000,Goof Troop,01/08/2013 23:16:00 +0000,47.0,"[Goof, Troop]",[co-op]
295,4-player co-op,01/09/2013 13:36:54 +0000,Scott Pilgrim Versus The World,01/09/2013 12:39:00 +0000,58.0,"[Scott, Pilgrim, Versus, The, World]","[4-player, co-op]"
425,co-op as much as PJ and Mecha Richter can coo...,07/28/2013 17:53:06 +0000,Teenage Mutant Ninja Turtles Iii: The Manhatta...,07/28/2013 17:09:00 +0000,188.0,"[Teenage, Mutant, Ninja, Turtles, Iii:, The, M...","[co-op, , as, much, as, PJ, and, Mecha, Richte..."
514,100% co-op. Donation incentive for a warps run...,01/08/2014 00:46:00 +0000,Super Mario Bros. 3,01/07/2014 22:42:00 +0000,428.0,"[Super, Mario, Bros., 3]","[100%, co-op., Donation, incentive, for, a, wa..."
524,co-op.,01/08/2014 14:01:00 +0000,Dungeons And Dragons: Shadow Over Mystara,01/08/2014 13:25:00 +0000,438.0,"[Dungeons, And, Dragons:, Shadow, Over, Mystara]",[co-op.]
527,3-player co-op,01/08/2014 19:08:00 +0000,Secret Of Mana,01/08/2014 16:38:00 +0000,440.0,"[Secret, Of, Mana]","[3-player, co-op]"
557,co-op,01/09/2014 16:41:00 +0000,Contra,01/09/2014 16:24:00 +0000,465.0,[Contra],[co-op]
558,co-op,01/09/2014 16:59:00 +0000,Super C,01/09/2014 16:41:00 +0000,466.0,"[Super, C]",[co-op]
560,co-op,01/09/2014 17:41:00 +0000,Chip 'N Dale: Rescue Rangers,01/09/2014 17:25:00 +0000,468.0,"[Chip, 'N, Dale:, Rescue, Rangers]",[co-op]
576,co-op or solo co-op,01/10/2014 09:20:00 +0000,Portal 2,01/10/2014 08:27:00 +0000,481.0,"[Portal, 2]","[co-op, or, solo, co-op]"
579,2014's Octodad? co-op,01/10/2014 12:16:00 +0000,Surgeon Simulator 2013,01/10/2014 11:36:00 +0000,484.0,"[Surgeon, Simulator, 2013]","[2014's, Octodad?, co-op]"
580,co-op,01/10/2014 15:10:00 +0000,Borderlands 2,01/10/2014 12:16:00 +0000,485.0,"[Borderlands, 2]",[co-op]
584,co-op. Donations for a THPS3 run,01/10/2014 17:33:00 +0000,Tony Hawk's American Wasteland,01/10/2014 17:15:00 +0000,489.0,"[Tony, Hawk's, American, Wasteland]","[co-op., Donations, for, a, THPS3, run]"
732,co-op,06/27/2014 10:59:00 +0000,Chip And Dale: Rescue Rangers 2,06/27/2014 10:29:00 +0000,645.0,"[Chip, And, Dale:, Rescue, Rangers, 2]",[co-op]
733,co-op,06/27/2014 11:45:00 +0000,Bubble Bobble,06/27/2014 10:59:00 +0000,646.0,"[Bubble, Bobble]",[co-op]
761,"""Solo co-op""; one player completes co-op mode",06/28/2014 23:07:00 +0000,Portal 2,06/28/2014 22:10:00 +0000,671.0,"[Portal, 2]","[""Solo, co-op"";, one, player, completes, co-op..."
801,co-op,01/06/2015 04:54:00 +0000,Battleblock Theater,01/06/2015 01:28:00 +0000,715.0,"[Battleblock, Theater]",[co-op]
812,co-op,01/06/2015 11:15:00 +0000,Snake Rattle 'N' Roll,01/06/2015 10:49:00 +0000,756.0,"[Snake, Rattle, 'N', Roll]",[co-op]
814,co-op donations for warpless run,01/06/2015 12:19:00 +0000,Battletoads,01/06/2015 11:37:00 +0000,758.0,[Battletoads],"[co-op, , donations, for, warpless, run]"
815,co-op,01/06/2015 12:38:00 +0000,River City Ransom,01/06/2015 12:19:00 +0000,759.0,"[River, City, Ransom]",[co-op]
923,co-op,01/10/2015 20:09:00 +0000,Halo 2,01/10/2015 18:30:00 +0000,831.0,"[Halo, 2]",[co-op]

In [34]:
search('2p1c')

,Description,End Time,Name,Start Time,run_id,name_token,desc_token
1143,Bonus Incentive: Super Metroid (Any% 2p1c - Oa...,01/06/2016 00:06:41 +0000,Super Metroid Bonus Any% 2p1c,01/05/2016 22:49:40 +0000,1644.0,"[Super, Metroid, Bonus, Any%, 2p1c]","[Bonus, Incentive:, Super, Metroid, (Any%, 2p1..."
1239,Bonus Incentive: Mario Kart 64 (All Cups 2p1c ...,01/09/2016 20:55:27 +0000,Mario Kart 64 All Cups 2p1c,01/09/2016 20:01:27 +0000,1740.0,"[Mario, Kart, 64, All, Cups, 2p1c]","[Bonus, Incentive:, Mario, Kart, 64, (All, Cup..."

In [35]:
search('%')

,Description,End Time,Name,Start Time,run_id,name_token,desc_token
5,100% racetranquilite and dessyreqt,07/07/2014 23:37:56 +0000,Super Metroid,07/07/2014 23:37:56 +0000,977.0,"[Super, Metroid]","[100%, racetranquilite, and, dessyreqt]"
43,100%,07/07/2014 23:38:00 +0000,Demon's Crest,07/07/2014 23:38:00 +0000,1013.0,"[Demon's, Crest]",[100%]
54,100%,01/05/2012 04:14:57 +0000,Super Mario World 2: Yoshi's Island,01/05/2012 01:00:00 +0000,866.0,"[Super, Mario, World, 2:, Yoshi's, Island]",[100%]
81,Race. Donations for low% or 100%.,01/06/2012 07:06:50 +0000,Mega Man X,01/06/2012 06:26:00 +0000,893.0,"[Mega, Man, X]","[Race., Donations, for, low%, or, 100%.]"
82,any%,01/06/2012 07:44:42 +0000,Mega Man X2,01/06/2012 07:09:00 +0000,894.0,"[Mega, Man, X2]",[any%]
109,100%. Donations for small mario-only.,01/07/2012 07:08:37 +0000,Super Mario Bros. 3,01/07/2012 05:38:00 +0000,921.0,"[Super, Mario, Bros., 3]","[100%., Donations, for, small, mario-only.]"
112,theseawolf1 - Added by Donation 100% Good,01/07/2012 13:29:56 +0000,Demon's Crest,01/07/2012 12:36:00 +0000,924.0,"[Demon's, Crest]","[theseawolf1, -, Added, by, Donation, , 100%, ..."
118,Julius Mode. Donations for any% or all bosses.,01/07/2012 17:31:50 +0000,Castlevania: Aria Of Sorrow,01/07/2012 17:15:00 +0000,930.0,"[Castlevania:, Aria, Of, Sorrow]","[Julius, Mode., Donations, for, any%, or, all,..."
121,100%,01/07/2012 17:15:00 +0000,Metroid Zero Mission,01/07/2012 17:15:00 +0000,933.0,"[Metroid, Zero, Mission]",[100%]
122,any%,01/07/2012 17:15:00 +0000,Super Metroid,01/07/2012 17:15:00 +0000,934.0,"[Super, Metroid]",[any%]
152,Donations for character choice. Possibly low%.,01/07/2012 17:15:00 +0000,Sunset Riders,01/07/2012 17:15:00 +0000,964.0,"[Sunset, Riders]","[Donations, for, character, choice., Possibly,..."
163,UltraJman - 100%,05/25/2012 02:45:14 +0000,Kirby's Dream Land 3,05/25/2012 00:58:00 +0000,1025.0,"[Kirby's, Dream, Land, 3]","[UltraJman, -, 100%]"
192,puwexil - 100%,05/26/2012 17:16:46 +0000,Illusion Of Gaia,05/26/2012 14:49:00 +0000,1054.0,"[Illusion, Of, Gaia]","[puwexil, -, 100%]"
207,Dragondarch - 1% run. Donations for the secret...,05/27/2012 06:33:00 +0000,Metroid Fusion,05/27/2012 04:18:00 +0000,1069.0,"[Metroid, Fusion]","[Dragondarch, -, 1%, run., Donations, for, the..."
214,PEACHES_ - 100%,05/27/2012 23:23:00 +0000,Blast Corps,05/27/2012 21:18:00 +0000,1076.0,"[Blast, Corps]","[PEACHES_, -, 100%]"
222,Essentia - Donations for 100%. Return of the S...,05/28/2012 13:13:00 +0000,Final Fantasy Vi,05/28/2012 06:13:00 +0000,1084.0,"[Final, Fantasy, Vi]","[Essentia, -, Donations, for, 100%., Return, o..."
236,100%. Donations for an any% run,01/06/2013 21:54:14 +0000,Shadow Complex,01/06/2013 20:48:00 +0000,3.0,"[Shadow, Complex]","[100%., Donations, for, an, any%, run]"
237,Any%,01/06/2013 23:20:01 +0000,Mischief Makers,01/06/2013 22:19:00 +0000,4.0,"[Mischief, Makers]",[Any%]
238,Metaknightmare mode 100% race.,01/07/2013 00:06:05 +0000,Kirby: Nightmare In Dream Land,01/06/2013 23:30:00 +0000,5.0,"[Kirby:, Nightmare, In, Dream, Land]","[Metaknightmare, mode, 100%, race.]"
239,any% donations for 100%,01/07/2013 02:55:54 +0000,Super Mario World 2: Yoshi's Island,01/07/2013 00:07:00 +0000,6.0,"[Super, Mario, World, 2:, Yoshi's, Island]","[any%, , donations, for, 100%]"
240,any% glitched,01/07/2013 04:07:31 +0000,Donkey Kong 64,01/07/2013 03:12:00 +0000,7.0,"[Donkey, Kong, 64]","[any%, glitched]"
241,100%,01/07/2013 06:51:56 +0000,Banjo-Kazooie,01/07/2013 04:17:00 +0000,8.0,[Banjo-Kazooie],[100%]
257,No whistles. Donations for 100%,01/07/2013 23:40:48 +0000,Super Mario Bros. 3,01/07/2013 22:20:00 +0000,22.0,"[Super, Mario, Bros., 3]","[No, whistles., Donations, for, 100%]"
260,XBLA version 106% donations for the expert re...,01/08/2013 03:49:36 +0000,Super Meat Boy,01/08/2013 02:02:00 +0000,24.0,"[Super, Meat, Boy]","[XBLA, version, 106%, , donations, for, the, e..."
280,Any%,01/08/2013 22:29:51 +0000,Ninja Gaiden (Nes),01/08/2013 22:12:00 +0000,43.0,"[Ninja, Gaiden, (Nes)]",[Any%]
282,Donations for low% (no-pickup run),01/08/2013 23:13:06 +0000,Ninja Gaiden 3,01/08/2013 22:55:00 +0000,45.0,"[Ninja, Gaiden, 3]","[Donations, for, low%, (no-pickup, run)]"
290,100%,01/09/2013 06:24:40 +0000,Metroid Prime,01/09/2013 04:35:00 +0000,53.0,"[Metroid, Prime]",[100%]
291,Any%,01/09/2013 08:05:59 +0000,Metroid Prime 2,01/09/2013 06:33:00 +0000,54.0,"[Metroid, Prime, 2]",[Any%]
302,Any%,01/10/2013 01:03:55 +0000,Donkey Kong Country Returns,01/09/2013 23:20:00 +0000,64.0,"[Donkey, Kong, Country, Returns]",[Any%]
331,Donations for any% or 100%,01/10/2013 23:24:03 +0000,Vvvvvv,01/10/2013 23:04:00 +0000,88.0,[Vvvvvv],"[Donations, for, any%, or, 100%]"
...,...,...,...,...,...,...,...
2051,,06/28/2018 16:23:00 +0000,The Legend Of Zelda Low% Race,06/28/2018 14:56:00 +0000,3064.0,"[The, Legend, Of, Zelda, Low%, Race]",[]
2052,,06/28/2018 18:36:00 +0000,The Legend Of Zelda: Oracle Of Seasons Any%,06/28/2018 16:23:00 +0000,3065.0,"[The, Legend, Of, Zelda:, Oracle, Of, Seasons,...",[]
2053,,06/28/2018 21:14:00 +0000,Paper Mario Any%,06/28/2018 18:36:00 +0000,3066.0,"[Paper, Mario, Any%]",[]
2055,,06/28/2018 22:37:00 +0000,Deus Ex Any%,06/28/2018 21:47:00 +0000,3068.0,"[Deus, Ex, Any%]",[]
2056,,06/28/2018 23:59:00 +0000,Deus Ex Mankind Divided Any%,06/28/2018 22:37:00 +0000,3069.0,"[Deus, Ex, Mankind, Divided, Any%]",[]
2062,Bonus Incentive run by ProtoAus,06/29/2018 07:26:00 +0000,Half-Life Any%,06/29/2018 06:38:00 +0000,3071.0,"[Half-Life, Any%]","[Bonus, Incentive, run, by, ProtoAus]"
2065,,06/29/2018 11:07:00 +0000,Borderlands: The Pre-Sequel! Co-Op Any%,06/29/2018 08:32:00 +0000,3078.0,"[Borderlands:, The, Pre-Sequel!, Co-Op, Any%]",[]
2066,,06/29/2018 12:31:00 +0000,Bionic Commando Any%,06/29/2018 11:07:00 +0000,3079.0,"[Bionic, Commando, Any%]",[]
2067,,06/29/2018 13:14:00 +0000,Bound Any%,06/29/2018 12:31:00 +0000,3080.0,"[Bound, Any%]",[]
2069,,06/29/2018 14:15:00 +0000,Double Dragon Any%,06/29/2018 13:53:00 +0000,3082.0,"[Double, Dragon, Any%]",[]
2070,,06/29/2018 14:37:00 +0000,Double Dragon Ii: The Revenge Any%,06/29/2018 14:15:00 +0000,3083.0,"[Double, Dragon, Ii:, The, Revenge, Any%]",[]
2072,,06/29/2018 15:59:14 +0000,Streets Of Rage 2 Mania%,06/29/2018 14:54:00 +0000,3085.0,"[Streets, Of, Rage, 2, Mania%]",[]
2073,,06/29/2018 16:43:25 +0000,Rockman No-Constancy Any% Normal,06/29/2018 15:59:14 +0000,3087.0,"[Rockman, No-Constancy, Any%, Normal]",[]
2074,,06/29/2018 17:40:47 +0000,Mega Man 7 Any%,06/29/2018 16:43:25 +0000,3088.0,"[Mega, Man, 7, Any%]",[]
2075,,06/29/2018 18:44:31 +0000,Mega Man 8 Any% Race,06/29/2018 17:40:47 +0000,3089.0,"[Mega, Man, 8, Any%, Race]",[]
2076,,06/29/2018 20:04:23 +0000,Bionic Commando Rearmed 2 Any%,06/29/2018 18:44:31 +0000,3118.0,"[Bionic, Commando, Rearmed, 2, Any%]",[]
2078,,06/30/2018 00:19:23 +0000,Kingdom Hearts Hd 1.5 Remix (Kh1fm) Any% (Leve...,06/29/2018 20:51:23 +0000,3092.0,"[Kingdom, Hearts, Hd, 1.5, Remix, (Kh1fm), Any...",[]
2080,,06/30/2018 03:32:33 +0000,The Legend Of Zelda: The Wind Waker Hd Any%,06/30/2018 01:33:13 +0000,3094.0,"[The, Legend, Of, Zelda:, The, Wind, Waker, Hd...",[]
2081,,06/30/2018 04:20:00 +0000,Tasbot Plays Celeste Any% Tas By Devilsquirrel...,06/30/2018 03:32:33 +0000,3095.0,"[Tasbot, Plays, Celeste, Any%, Tas, By, Devils...",[]
2082,,06/30/2018 04:36:00 +0000,Tasbot Plays Super Metroid 0% By Sniq And Tota...,06/30/2018 04:20:00 +0000,3097.0,"[Tasbot, Plays, Super, Metroid, 0%, By, Sniq, ...",[]
2083,,06/30/2018 05:09:00 +0000,Tasbot Plays F-Zero Gx By Talented Authors Tas...,06/30/2018 04:36:00 +0000,3096.0,"[Tasbot, Plays, F-Zero, Gx, By, Talented, Auth...",[]
2084,,06/30/2018 08:31:00 +0000,Pokemon Yellow/Red Any% Glitchless 2 Games 1 C...,06/30/2018 05:09:00 +0000,3100.0,"[Pokemon, Yellow/Red, Any%, Glitchless, 2, Gam...",[]
2085,,06/30/2018 09:03:00 +0000,Star Wars Jedi Knight: Dark Forces Ii Any%,06/30/2018 08:31:00 +0000,3101.0,"[Star, Wars, Jedi, Knight:, Dark, Forces, Ii, ...",[]
2086,,06/30/2018 09:33:00 +0000,Star Wars Jedi Knight: Mysteries Of The Sith Any%,06/30/2018 09:03:00 +0000,3102.0,"[Star, Wars, Jedi, Knight:, Mysteries, Of, The...",[]
2087,,06/30/2018 10:31:00 +0000,Super Star Wars: The Empire Strikes Back Any%,06/30/2018 09:33:00 +0000,3103.0,"[Super, Star, Wars:, The, Empire, Strikes, Bac...",[]
2088,,06/30/2018 11:40:00 +0000,Hob Any% No Clip (One-Handed),06/30/2018 10:31:00 +0000,3104.0,"[Hob, Any%, No, Clip, (One-Handed)]",[]
2092,,06/30/2018 14:42:00 +0000,Crash Bandicoot: N. Sane Trilogy Crash Bandico...,06/30/2018 13:37:00 +0000,3108.0,"[Crash, Bandicoot:, N., Sane, Trilogy, Crash, ...",[]
2094,,06/30/2018 16:08:54 +0000,Kirby's Adventure 100% No Major Glitches,06/30/2018 15:05:00 +0000,3110.0,"[Kirby's, Adventure, 100%, No, Major, Glitches]",[]
2099,,07/01/2018 00:20:54 +0000,Super Mario Odyssey Any%,06/30/2018 22:52:54 +0000,3115.0,"[Super, Mario, Odyssey, Any%]",[]
2100,,07/01/2018 07:30:54 +0000,Final Fantasy Vi Glitchless 100% (All Characte...,07/01/2018 00:20:54 +0000,3116.0,"[Final, Fantasy, Vi, Glitchless, 100%, (All, C...",[]

check:
- all (all stages)
- no (no major glitches)
- new/ng (ng+)
- difficulty levels (easy/normal/hard + exceptions: insane, legendary, etc)

extraction: split after one of these words until end/./(others)

In [36]:
re.IGNORECASE

In [52]:
# regex for common category names
regex = ['\w+ ?%', '\d+[ -]exit|star|shine', 'TAS(bot)?', '\w+less', 'all [\w &]+',
         'no [\w ]+', 'TAS(bot)?', '[\w -]+only', 
         '\dp\dc', '\d players? \d controllers?', 'oob', '(in|out)[- ]?(of)?[- ]?bounds', 
         'new game ?\+', 'ng\+', 'blind(fold(ed)?)?', '\d|multi|single[ -]?player', '(solo)? co-op',
         '(relay)? race', 'one[ -]?handed', 
         'easy', 'normal', 'hard(est|core)?', 'difficult', 'insane', 
         'legendary', 'tourist', 'not impossible', 'casual', 'brutal', 
         '(00 |perfect )?agent', '(european )?extreme', 'watch me die', 
         'heavy', 'ultra-violence', 'UV ', 'be gentle']

In [57]:
def find_cat(s):
    return runs.Description.str.findall(s), runs.Name.str.findall(s)

In [58]:
col1, col2 = find_cat(regex[1])

0       []
1       []
2       []
3       []
4       []
5       []
6       []
7       []
8       []
9       []
12      []
13      []
14      []
15      []
16      []
17      []
18      []
19      []
20      []
21      []
22      []
23      []
24      []
25      []
26      []
27      []
28      []
29      []
30      []
31      []
        ..
2072    []
2073    []
2074    []
2075    []
2076    []
2077    []
2078    []
2079    []
2080    []
2081    []
2082    []
2083    []
2084    []
2085    []
2086    []
2087    []
2088    []
2089    []
2090    []
2091    []
2092    []
2093    []
2094    []
2095    []
2096    []
2097    []
2098    []
2099    []
2100    []
2101    []
Name: Name, Length: 2100, dtype: object

In [38]:
runs.loc[runs.Description.apply(lambda x: 'difficulty' in x)]

,Description,End Time,Name,Start Time,run_id,name_token,desc_token
57,normal difficulty,01/05/2012 09:25:14 +0000,Vanquish,01/05/2012 06:55:00 +0000,869.0,[Vanquish],"[normal, difficulty]"
103,Hard difficulty,01/06/2012 22:22:48 +0000,Half-Life,01/06/2012 21:33:00 +0000,915.0,[Half-Life],"[Hard, difficulty]"
105,Legendary difficulty.,01/07/2012 03:14:59 +0000,Halo Reach,01/07/2012 00:02:00 +0000,917.0,"[Halo, Reach]","[Legendary, difficulty.]"
144,Tourist difficulty. Will hopefully go up later.,01/07/2012 17:15:00 +0000,Serious Sam: The Second Encounter,01/07/2012 17:15:00 +0000,956.0,"[Serious, Sam:, The, Second, Encounter]","[Tourist, difficulty., Will, hopefully, go, up..."
148,not impossible difficulty,01/07/2012 17:15:00 +0000,System Shock 2,01/07/2012 17:15:00 +0000,960.0,"[System, Shock, 2]","[not, impossible, difficulty]"
208,Youkai - Casual difficulty,05/27/2012 08:43:00 +0000,Gears Of War,05/27/2012 06:33:00 +0000,1070.0,"[Gears, Of, War]","[Youkai, -, Casual, difficulty]"
209,Youkai - Shura (Hard) difficulty. Donations fo...,05/27/2012 10:48:00 +0000,Muramasa,05/27/2012 08:43:00 +0000,1071.0,[Muramasa],"[Youkai, -, Shura, (Hard), difficulty., Donati..."
250,Normal difficulty race.,01/07/2013 17:47:52 +0000,Rocket Knight Adventures,01/07/2013 17:18:00 +0000,15.0,"[Rocket, Knight, Adventures]","[Normal, difficulty, race.]"
307,Story mode with donations for difficulty mode.,01/10/2013 04:38:01 +0000,F-Zero Gx,01/10/2013 04:12:00 +0000,68.0,"[F-Zero, Gx]","[Story, mode, with, donations, for, difficulty..."
329,Brutal difficulty,01/10/2013 22:19:56 +0000,Starcraft 2,01/10/2013 18:54:00 +0000,87.0,"[Starcraft, 2]","[Brutal, difficulty]"
336,Agent run. Donations to raise the difficulty t...,01/11/2013 04:40:47 +0000,Goldeneye,01/11/2013 03:20:00 +0000,92.0,[Goldeneye],"[Agent, run., Donations, to, raise, the, diffi..."
355,European Extreme difficulty,01/12/2013 11:08:12 +0000,Metal Gear Solid 3: Snake Eater,01/12/2013 09:39:00 +0000,109.0,"[Metal, Gear, Solid, 3:, Snake, Eater]","[European, Extreme, difficulty]"
412,Donations for Watch Me Die difficulty,07/28/2013 01:23:00 +0000,Doom 64,07/28/2013 00:07:00 +0000,176.0,"[Doom, 64]","[Donations, for, Watch, Me, Die, difficulty]"
420,Donations for Heavy difficulty,07/28/2013 15:34:00 +0000,Ranger-X,07/28/2013 15:08:00 +0000,184.0,[Ranger-X],"[Donations, for, Heavy, difficulty]"
456,kids difficulty makes sonic jealous,01/05/2014 21:56:00 +0000,Viewtiful Joe,01/05/2014 21:03:00 +0000,373.0,"[Viewtiful, Joe]","[kids, difficulty, , makes, sonic, jealous]"
467,Donations for Extreme difficulty,01/06/2014 11:22:00 +0000,Ducktales Remastered,01/06/2014 10:32:00 +0000,385.0,"[Ducktales, Remastered]","[Donations, for, Extreme, difficulty]"
490,respect your elders. easy difficulty,01/07/2014 04:21:00 +0000,Quake,01/07/2014 03:47:00 +0000,403.0,[Quake],"[respect, your, elders., easy, difficulty]"
491,Ultra-Violence difficulty donation incentive ...,01/07/2014 05:51:00 +0000,Final Doom: The Plutonia Experiment,01/07/2014 04:21:00 +0000,404.0,"[Final, Doom:, The, Plutonia, Experiment]","[Ultra-Violence, difficulty, , donation, incen..."
492,Bid war race! UV difficulty.,01/07/2014 06:42:00 +0000,Doom 1 Vs. 2 Bid War,01/07/2014 05:51:00 +0000,405.0,"[Doom, 1, Vs., 2, Bid, War]","[Bid, war, race!, UV, difficulty.]"
495,Extreme difficulty glitched run,01/07/2014 12:12:00 +0000,Metal Gear Solid,01/07/2014 10:50:00 +0000,408.0,"[Metal, Gear, Solid]","[Extreme, difficulty, , glitched, run]"
496,hard difficulty,01/07/2014 13:42:00 +0000,Metal Gear Rising,01/07/2014 12:12:00 +0000,409.0,"[Metal, Gear, Rising]","[hard, difficulty]"
536,Expert difficulty. Donations for Lecarde or Mo...,01/09/2014 04:50:00 +0000,Castlevania Bloodlines,01/09/2014 04:05:00 +0000,419.0,"[Castlevania, Bloodlines]","[Expert, difficulty., Donations, for, Lecarde,..."
563,normal difficulty,01/09/2014 19:04:00 +0000,Ninja Five-O,01/09/2014 18:21:00 +0000,471.0,"[Ninja, Five-O]","[normal, difficulty]"
572,Brutal difficulty,01/10/2014 04:47:00 +0000,Starcraft Ii: Heart Of The Swarm,01/10/2014 01:09:00 +0000,477.0,"[Starcraft, Ii:, Heart, Of, The, Swarm]","[Brutal, difficulty]"
573,hard difficulty,01/10/2014 05:37:00 +0000,Half-Life,01/10/2014 04:47:00 +0000,478.0,[Half-Life],"[hard, difficulty]"
574,easy difficulty,01/10/2014 08:05:00 +0000,Half-Life 2,01/10/2014 05:37:00 +0000,479.0,"[Half-Life, 2]","[easy, difficulty]"
597,Perfect Agent difficulty,01/11/2014 10:09:00 +0000,Perfect Dark,01/11/2014 08:49:00 +0000,502.0,"[Perfect, Dark]","[Perfect, Agent, difficulty]"
725,Watch Me Die difficulty,06/26/2014 22:18:00 +0000,Doom 64,06/26/2014 21:04:00 +0000,639.0,"[Doom, 64]","[Watch, Me, Die, difficulty]"
781,easy difficulty,01/05/2015 07:50:00 +0000,Rocket Knight Adventures,01/05/2015 07:12:00 +0000,725.0,"[Rocket, Knight, Adventures]","[easy, difficulty]"
782,Donation incentive for hard difficulty,01/05/2015 08:23:00 +0000,Sparkster,01/05/2015 07:50:00 +0000,726.0,[Sparkster],"[Donation, incentive, for, hard, difficulty]"
787,Master difficulty,01/05/2015 11:39:00 +0000,Super Monkey Ball,01/05/2015 11:09:00 +0000,731.0,"[Super, Monkey, Ball]","[Master, difficulty]"
898,hard difficulty,01/09/2015 04:42:00 +0000,Half-Life: Opposing Force,01/09/2015 04:02:00 +0000,832.0,"[Half-Life:, Opposing, Force]","[hard, difficulty]"
920,Jetstream Sam DLC: Revengeance difficulty,01/10/2015 17:12:00 +0000,Metal Gear Rising,01/10/2015 16:30:00 +0000,844.0,"[Metal, Gear, Rising]","[Jetstream, Sam, DLC:, Revengeance, difficulty]"
1010,Hardest difficulty Nintendo vs. Sega bid war,07/29/2015 15:50:00 +0000,Kirby's Avalanche Vs. Dr. Robotnik's Mean Bean...,07/29/2015 15:26:00 +0000,1194.0,"[Kirby's, Avalanche, Vs., Dr., Robotnik's, Mea...","[Hardest, difficulty, , Nintendo, vs., Sega, b..."
1051,Incentive for Legendary difficulty,07/31/2015 02:40:00 +0000,Halo 3,07/31/2015 00:28:00 +0000,1238.0,"[Halo, 3]","[Incentive, for, Legendary, difficulty]"
1054,Be Gentle difficulty race!,07/31/2015 04:51:00 +0000,Doom 64,07/31/2015 04:06:00 +0000,1242.0,"[Doom, 64]","[Be, Gentle, difficulty, , race!]"

In [49]:
runs.Description.str.findall('\d+[- ][a-zA-Z]+').str.join(' ').str.cat(sep = ' ')

'          8 way    70 star                 4 player                               4 boss                     8-boss                   360 version                                    70-star 61-star     4-player             2 and          2 on                                               120 star           2 games                               96-exit     4-player                        1 race        4-player                                         00 Agent                      120 star                              5 or                     1 run                       70 star 16-star           4-boss                                                2 it              16 bags                      3-player                                                         3 run  2000 meters                16-star                                                             1 Player 2 Controllers                   64 block        14 Talisman          1 player 2 controllers                        00 Agent                        96 Exit 97 Exit  16 star 70 or 120 stars   1 and                  16 Tracks                                                      4-way          4-way   4-way                              4-way                                                    4-way                                    2 loop 2 loop                                              30 any 3 and                          2 players 1 controller                                         1 through    151 Pokemon        2 players 1 controller      120 star            1 Race  64 Multiplayer 16 Star        3 and        1 Proud                          6 DLC                              2-way 32 Characters                                        2 Turtle   763907 and                      64 TAS     3 slots                                     9 Any                                                                                                                                               70 Race                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    '

In [50]:
runs.Name.str.findall('\d+[- ][a-zA-Z]+').str.join(' ').str.cat(sep = ' ')

'                               4 Dead     94 Or                                                                                                                      3 Katamari                                                                       1 Or                                    4 Dead          7 Vs                                                                                                                   5 Or 6 Bid                                                                                                        1 Vs 2 Bid                   6 Golden                                                                                                                                                        8 Eyes                                                                                1 Vs 2 Bid      3 Way                                        2 Battle                                                                   3 And                                           2 Episode                   1 And 2 Bid                      3 Lost                              1 Handed                       3 Low                                                     3 Burst                                          64 Any              120 Star 64 Multiplayer 16 Star    2 Any  4 Dead 2 Main   1-Handed       5 Remix          15 Scroll               2 Any 2 Co           2 Classic  2 Crazy  3 All             3 Any   0 Exit 96 Exit                               4 Legendary    64 Any           4 Bcas 10 Any 9 Any 6 Any 2 Any  2 Any     3 Any    32 Tracks 64 All 64 Star 4-Way       64 Floor         1 Player 2 Controllers  2 Any   1080 Avalanche                 8 Any 3 Any 5 Any 9 Any                   64 Any           2 Any   1-Handed        3 Any 2 Leon   64 Any 64 Any  64 Ds 50 Star       3 Any 2 Any  2 Any              2 Any     16 Bags       2 Any         3 Any 4 Any         1 Any                 2 Any  2 Low               2 Memory 20 Trinkets 3 One    70 Star 70 Star  2 Any  2 Player                     2 Any           2 Story         4 Any   6-Episode 2 Any  3 Any          2 Any                    2 Any  0 Kunai            6 Any   9 Any 2 Legendary       4-Player             4 Dead 1 All    2 Sonic     3 Best   2 Any 1 Player              3 Any   4 Any                    2 Any  2 Players 1 Controller  2 By  1 By   3 Any     1-Handed  2 Any            2 Any      100 Egg    2011 Tails     64 No         2 All 4 Any          2 Any  2 Any 2 Any       3 Any        1001 Spikes    2 Best  6 All  2 Any 3 Any        2 Single                8-Way 2-Players 1-Controller             4 Any      1 Data        2 Any     120 Star   2 Solo    4 Zero 3 Ng     2 Any     6 Any        2 Any    2 Tas         2 Bid  4 Normal              2 Any        2 Co               3 Best   3 Any 4 X                       4 Dead 2 Main  7 Biohazard                2-Player        4 Normal   120 Shines 64 Any  5-Year                2-Player  2 Ng                            2 Any 3 Team 2 Games 1 Controller    2 Any 6 Golden    3-Way   1 Sorcerer  3 Any                4 New    2 Loops        2 Player        3 Any  5-Stage  1 Character   6 Any 9 Any 4 Any 2 Buster       10 Pups 25 Cubes    4 Boss        2 Sonic 3 And    2 Legendary   2 Any   2 Story                      2 Laps  2 Any                  3 All  8 Deluxe 32 Tracks       1 Player 2 Controllers    2 Mania  7 Any 8 Any 2 Any  5 Remix 1 Proud 70 Star     2 Games 1 Controller       14 Talisman 1 Any   2 Warpless  3 Blind    '

In [55]:
search('shine')

,Description,End Time,Name,Start Time,run_id,name_token,desc_token
435,,07/29/2013 10:16:33 +0000,Super Mario Sunshine,07/29/2013 08:28:00 +0000,196.0,"[Super, Mario, Sunshine]",[]
750,Race!,06/28/2014 05:54:00 +0000,Super Mario Sunshine,06/28/2014 04:16:00 +0000,661.0,"[Super, Mario, Sunshine]",[Race!]
917,,01/10/2015 09:45:00 +0000,Super Mario Sunshine,01/10/2015 05:50:00 +0000,853.0,"[Super, Mario, Sunshine]",[]
1073,Race incentive for Hoverless,08/01/2015 01:58:00 +0000,Super Mario Sunshine,08/01/2015 00:05:00 +0000,1261.0,"[Super, Mario, Sunshine]","[Race, , incentive, for, Hoverless]"
1250,,07/03/2016 18:31:00 +0000,Super Mario Sunshine Any%,07/03/2016 16:57:00 +0000,1764.0,"[Super, Mario, Sunshine, Any%]",[]
1494,,01/11/2017 03:24:56 +0000,Super Mario Sunshine Any%,01/11/2017 01:45:56 +0000,2014.0,"[Super, Mario, Sunshine, Any%]",[]
1875,,01/11/2018 06:08:53 +0000,Super Mario Sunshine 120 Shines,01/11/2018 02:26:24 +0000,2726.0,"[Super, Mario, Sunshine, 120, Shines]",[]