In [1]:
%cd desktop\data-done-quick

C:\Users\jose\desktop\data-done-quick

In [2]:
import pandas as pd

In [12]:
df = pd.read_csv('data\donations\cgdq.csv', encoding = 'latin-1', parse_dates = [3])

In [13]:
df.head()

   Amount Comment                       Name           Timestamp
0     4.0      No                (Anonymous)  010520101512420000
1     5.3     Yes                   Pug Farm  010520100310140000
2    49.0     Yes  McKenzie Michael (mike89)  010520100038330000
3    20.0      No               S... Patrick  010420101341340000
4    20.0     Yes              UraniumAnchor  010420101154270000

In [14]:
df.dtypes

Amount       float64
Comment       object
Name          object
Timestamp     object
dtype: object

In [16]:
df.Timestamp = pd.to_datetime(df.Timestamp, format = '%m%d%Y%H%M%S%f')

In [17]:
df.dtypes

Amount              float64
Comment              object
Name                 object
Timestamp    datetime64[ns]
dtype: object

In [18]:
df.describe()

           Amount
count  464.000000
mean    22.697500
std     48.058815
min      0.010000
25%      5.000000
50%     10.000000
75%     20.000000
max    500.000000

In [21]:
grouped = df.groupby('Name')
grouped.describe()

                              Amount                                           \
                               count        mean         std     min      25%
Name
(Anonymous)                     24.0   16.643750   14.562649    1.00    7.500
A... Brian                       1.0   20.000000         NaN   20.00   20.000
A... Burak                       1.0    5.000000         NaN    5.00    5.000
A... Dustin                      1.0   20.000000         NaN   20.00   20.000
A... Leigh                       1.0    1.000000         NaN    1.00    1.000
A... Matt                        1.0   20.000000         NaN   20.00   20.000
A... Renars                      1.0   10.000000         NaN   10.00   10.000
A... Ryan                        2.0    7.500000    3.535534    5.00    6.250
Adilor                           1.0   10.000000         NaN   10.00   10.000
AlbinoWeasel                     1.0   20.000000         NaN   20.00   20.000
Andrew W                         3.0   15.000000   10.000000    5.00   10.000
Arctic Eagle                     1.0   10.000000         NaN   10.00   10.000
B... Alex                        1.0    7.500000         NaN    7.50    7.500
B... Andreas                     1.0    5.910000         NaN    5.91    5.910
B... Ben                         1.0    4.180000         NaN    4.18    4.180
B... Brian                       1.0   10.000000         NaN   10.00   10.000
B... Christian                   1.0   10.000000         NaN   10.00   10.000
B... Edouard                     1.0   20.000000         NaN   20.00   20.000
B... Heather                     1.0   10.000000         NaN   10.00   10.000
B... Isaac                       1.0    7.770000         NaN    7.77    7.770
B... James                       2.0   15.000000    0.000000   15.00   15.000
B... Jarad                       1.0   10.000000         NaN   10.00   10.000
B... Joshua                      1.0   20.000000         NaN   20.00   20.000
B... Kevin                       1.0   10.000000         NaN   10.00   10.000
B... Marc-Olivier                1.0   15.000000         NaN   15.00   15.000
B... Marlene                     1.0    5.000000         NaN    5.00    5.000
B... Martin                      1.0   73.310000         NaN   73.31   73.310
B... Matthew                     2.0    7.750000    3.181981    5.50    6.625
B... Nicolas                     1.0    5.000000         NaN    5.00    5.000
B... Olivier                     2.0   15.000000    7.071068   10.00   12.500
...                              ...         ...         ...     ...      ...
Vasilik David                    1.0   10.000000         NaN   10.00   10.000
W... Adam                        2.0   20.000000    0.000000   20.00   20.000
W... Brandon                     1.0    5.000000         NaN    5.00    5.000
W... Chun                        1.0   30.000000         NaN   30.00   30.000
W... Daniel (moooh)              2.0   15.000000    7.071068   10.00   12.500
W... Ian                         2.0    7.500000    3.535534    5.00    6.250
W... Isaac                       1.0   10.000000         NaN   10.00   10.000
W... Li                          1.0    5.000000         NaN    5.00    5.000
W... Stewart                     2.0   15.000000    7.071068   10.00   12.500
W... Thomas                      1.0   10.000000         NaN   10.00   10.000
W... Tom                         1.0   10.000000         NaN   10.00   10.000
W... Zachary                     2.0   77.910000   31.239978   55.82   66.865
Wallace Benjamin (Gisper)        1.0  100.000000         NaN  100.00  100.000
Weatherproof                     1.0   10.000000         NaN   10.00   10.000
Windslash                        4.0   10.000000   10.000000    5.00    5.000
Wisniewski Zachary (ZaeloRae)    2.0   30.000000   14.142136   20.00   25.000
Yanni Michael (DemonStrate86)    3.0    5.093333    4.855825    0.29    2.640
Z... Jacob                       1.0   10.000000         NaN   10.00   10.000
Zamik                            1.0    5.000000         NaN    5.00    5.000
a... david                       1.0  101.000000         NaN  101.00  101.000
dballin                          6.0   83.500000  136.467945    5.00   21.500
h... josh                        1.0    0.480000         NaN    0.48    0.480
k... dillon                      1.0    0.830000         NaN    0.83    0.830
purifyweirdsoul                  2.0   22.500000    3.535534   20.00   21.250
puwexil                          4.0   20.000000    0.000000   20.00   20.000
r... jeffrey                     1.0    5.000000         NaN    5.00    5.000
s... jack                        1.0    5.000000         NaN    5.00    5.000
s... justin                      1.0    5.000000         NaN    5.00    5.000
schwarbage                       2.0   62.500000   53.033009   25.00   43.750
sinister1                        2.0   12.500000    3.535534   10.00   11.250


                                  50%      75%     max
Name
(Anonymous)                     10.00   20.000   50.47
A... Brian                      20.00   20.000   20.00
A... Burak                       5.00    5.000    5.00
A... Dustin                     20.00   20.000   20.00
A... Leigh                       1.00    1.000    1.00
A... Matt                       20.00   20.000   20.00
A... Renars                     10.00   10.000   10.00
A... Ryan                        7.50    8.750   10.00
Adilor                          10.00   10.000   10.00
AlbinoWeasel                    20.00   20.000   20.00
Andrew W                        15.00   20.000   25.00
Arctic Eagle                    10.00   10.000   10.00
B... Alex                        7.50    7.500    7.50
B... Andreas                     5.91    5.910    5.91
B... Ben                         4.18    4.180    4.18
B... Brian                      10.00   10.000   10.00
B... Christian                  10.00   10.000   10.00
B... Edouard                    20.00   20.000   20.00
B... Heather                    10.00   10.000   10.00
B... Isaac                       7.77    7.770    7.77
B... James                      15.00   15.000   15.00
B... Jarad                      10.00   10.000   10.00
B... Joshua                     20.00   20.000   20.00
B... Kevin                      10.00   10.000   10.00
B... Marc-Olivier               15.00   15.000   15.00
B... Marlene                     5.00    5.000    5.00
B... Martin                     73.31   73.310   73.31
B... Matthew                     7.75    8.875   10.00
B... Nicolas                     5.00    5.000    5.00
B... Olivier                    15.00   17.500   20.00
...                               ...      ...     ...
Vasilik David                   10.00   10.000   10.00
W... Adam                       20.00   20.000   20.00
W... Brandon                     5.00    5.000    5.00
W... Chun                       30.00   30.000   30.00
W... Daniel (moooh)             15.00   17.500   20.00
W... Ian                         7.50    8.750   10.00
W... Isaac                      10.00   10.000   10.00
W... Li                          5.00    5.000    5.00
W... Stewart                    15.00   17.500   20.00
W... Thomas                     10.00   10.000   10.00
W... Tom                        10.00   10.000   10.00
W... Zachary                    77.91   88.955  100.00
Wallace Benjamin (Gisper)      100.00  100.000  100.00
Weatherproof                    10.00   10.000   10.00
Windslash                        5.00   10.000   25.00
Wisniewski Zachary (ZaeloRae)   30.00   35.000   40.00
Yanni Michael (DemonStrate86)    4.99    7.495   10.00
Z... Jacob                      10.00   10.000   10.00
Zamik                            5.00    5.000    5.00
a... david                     101.00  101.000  101.00
dballin                         30.50   50.000  360.00
h... josh                        0.48    0.480    0.48
k... dillon                      0.83    0.830    0.83
purifyweirdsoul                 22.50   23.750   25.00
puwexil                         20.00   20.000   20.00
r... jeffrey                     5.00    5.000    5.00
s... jack                        5.00    5.000    5.00
s... justin                      5.00    5.000    5.00
schwarbage                      62.50   81.250  100.00
sinister1                       12.50   13.750   15.00

[262 rows x 8 columns]