## Data Cleaning: the runs dataframe

In [1]:
%cd desktop\data-done-quick

C:\Users\jose\desktop\data-done-quick

In [2]:
import numpy as np
import pandas as pd
import re

In [3]:
runs = pd.read_csv('data\\runs.csv', engine = 'python')

In [4]:
runs.head()

,Description,End Time,Name,Start Time,run_id
0,NaN,07/07/2014 23:37:56 +0000,Toejam And Earl 2: Panic On Funkotron,07/07/2014 23:37:56 +0000,972.0
1,NaN,07/07/2014 23:37:56 +0000,Mega Man 3,07/07/2014 23:37:56 +0000,973.0
2,NaN,07/07/2014 23:37:56 +0000,Limbo,07/07/2014 23:37:56 +0000,974.0
3,NaN,07/07/2014 23:37:56 +0000,Rayman 2: The Great Escape,07/07/2014 23:37:56 +0000,975.0
4,NaN,07/07/2014 23:37:56 +0000,Quake 2,07/07/2014 23:37:56 +0000,976.0

In [5]:
runs.loc[runs.Name == "Super Mario World 2: Yoshi's Island"]

,Description,End Time,Name,Start Time,run_id
54,100%,01/05/2012 04:14:57 +0000,Super Mario World 2: Yoshi's Island,01/05/2012 01:00:00 +0000,866.0
239,any% donations for 100%,01/07/2013 02:55:54 +0000,Super Mario World 2: Yoshi's Island,01/07/2013 00:07:00 +0000,6.0
484,100%. Donation incentive for glitched run.,01/06/2014 22:35:00 +0000,Super Mario World 2: Yoshi's Island,01/06/2014 19:43:00 +0000,400.0
896,any% warps race,01/09/2015 02:02:00 +0000,Super Mario World 2: Yoshi's Island,01/08/2015 23:28:00 +0000,857.0
932,100%,07/26/2015 19:28:00 +0000,Super Mario World 2: Yoshi's Island,07/26/2015 16:00:00 +0000,1115.0

In [6]:
def check_title(s, title):
    try:
        return title in s
    except:
        return False

In [7]:
runs.loc[runs.Name.apply(lambda x: check_title(x, "Super Metroid"))]

,Description,End Time,Name,Start Time,run_id
5,100% racetranquilite and dessyreqt,07/07/2014 23:37:56 +0000,Super Metroid,07/07/2014 23:37:56 +0000,977.0
122,any%,01/07/2012 17:15:00 +0000,Super Metroid,01/07/2012 17:15:00 +0000,934.0
206,Dessyreqt,05/27/2012 04:18:00 +0000,Super Metroid,05/27/2012 02:33:00 +0000,1068.0
337,NaN,01/11/2013 05:34:35 +0000,Super Metroid,01/11/2013 04:45:00 +0000,93.0
431,Donate for D e e R F o r C e category,07/29/2013 04:29:55 +0000,Super Metroid,07/29/2013 03:00:00 +0000,192.0
594,race,01/11/2014 06:48:00 +0000,Super Metroid,01/11/2014 05:42:00 +0000,499.0
765,Low% run incentive for glitched any%,06/29/2014 05:32:00 +0000,Super Metroid,06/29/2014 03:47:00 +0000,674.0
928,NaN,01/11/2015 03:43:00 +0000,Super Metroid,01/11/2015 02:03:00 +0000,861.0
1090,Race!,08/02/2015 01:19:00 +0000,Super Metroid,08/02/2015 00:01:00 +0000,1281.0
1143,Bonus Incentive: Super Metroid (Any% 2p1c - Oa...,01/06/2016 00:06:41 +0000,Super Metroid Bonus Any% 2p1c,01/05/2016 22:49:40 +0000,1644.0
1247,Donation Incentive: Save or Kill the Animals,01/10/2016 04:12:14 +0000,Super Metroid Reverse Boss Order,01/10/2016 02:23:14 +0000,1744.0
1423,NaN,07/10/2016 03:22:00 +0000,Super Metroid Any%,07/10/2016 02:10:00 +0000,1935.0
1483,NaN,01/10/2017 18:31:46 +0000,Super Metroid Rotation Any%,01/10/2017 17:19:46 +0000,2004.0
1605,NaN,01/15/2017 05:28:45 +0000,Super Metroid 100%,01/15/2017 03:20:45 +0000,2119.0
1731,NaN,07/08/2017 05:00:00 +0000,Super Metroid Low% Ice Race,07/08/2017 03:50:00 +0000,2257.0
1791,NaN,09/03/2017 22:48:17 +0000,Super Metroid 100% Map Race,09/03/2017 21:14:17 +0000,2635.0
2010,NaN,06/27/2018 05:20:00 +0000,Super Metroid 100% Map Completion,06/27/2018 03:39:25 +0000,3022.0
2082,NaN,06/30/2018 04:36:00 +0000,Tasbot Plays Super Metroid 0% By Sniq And Tota...,06/30/2018 04:20:00 +0000,3097.0

## Handling missing values

In [8]:
runs.loc[~runs.Name.apply(lambda x: isinstance(x, str))]

                               Description End Time  Name Start Time  run_id
10                              8 way race     None  None       None     NaN
11   Feasel  romscout  duckfist  UltraJMan     None  None       None     NaN

In [9]:
runs.loc[runs.Name == 'Castle Crashers']

,Description,End Time,Name,Start Time,run_id
12,Zyre TheSeawolf1 Raen and UraniumAnchor,07/07/2014 23:37:57 +0000,Castle Crashers,07/07/2014 23:37:57 +0000,982.0

In [10]:
runs.count()

Description     770
End Time       2100
Name           2100
Start Time     2100
run_id         2100
dtype: int64

In [11]:
runs.dtypes

Description     object
End Time        object
Name            object
Start Time      object
run_id         float64
dtype: object

In [12]:
runs.ix[12, 'Description'] = runs.ix[10, 'Description'] + '\n' + runs.ix[11, 'Description'] + '\n' + runs.ix[12, 'Description']

C:\Users\jose\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [13]:
runs.iloc[12]

Description    8 way race\n Feasel  romscout  duckfist  Ultra...
End Time                               07/07/2014 23:37:57 +0000
Name                                             Castle Crashers
Start Time                             07/07/2014 23:37:57 +0000
run_id                                                       982
Name: 12, dtype: object

In [14]:
runs = runs.drop(labels = [10, 11])

In [15]:
runs.loc[~(runs.Name.apply(lambda x: isinstance(x, str)) & runs['End Time'].apply(lambda x: isinstance(x, str)) & runs['Start Time'].apply(lambda x: isinstance(x, str)))]

Empty DataFrame
Columns: [Description, End Time, Name, Start Time, run_id]
Index: []

## Extracting run categories

In [16]:
runs['name_token'] = runs.Name.apply(lambda x: x.split(' '))

In [17]:
runs.name_token.head()

0    [Toejam, And, Earl, 2:, Panic, On, Funkotron]
1                                   [Mega, Man, 3]
2                                          [Limbo]
3                 [Rayman, 2:, The, Great, Escape]
4                                       [Quake, 2]
Name: name_token, dtype: object

In [18]:
word_hist = {}

def word_count(tokens, word_hist):
    for token in tokens:
        if token in word_hist.keys():
            word_hist[token] += 1
        else:
            word_hist[token] = 1
            
    return word_hist

In [19]:
runs.name_token.apply(lambda x: word_count(x, word_hist))

0       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
1       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
3       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
4       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
5       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
6       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
7       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
8       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
9       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
12      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
13      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
14      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
15      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
16      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
17      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
18      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
19      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
20      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
21      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
22      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
23      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
24      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
25      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
26      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
27      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
28      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
29      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
30      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
31      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
                              ...
2072    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2073    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2074    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2075    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2076    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2077    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2078    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2079    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2080    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2081    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2082    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2083    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2084    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2085    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2086    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2087    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2088    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2089    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2090    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2091    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2092    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2093    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2094    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2095    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2096    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2097    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2098    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2099    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2100    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2101    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
Name: name_token, Length: 2100, dtype: object

In [20]:
runs[runs.Name.apply(lambda x: check_title(x, 'Donkey Kong Country'))]

,Description,End Time,Name,Start Time,run_id,name_token
125,Twig,01/07/2012 17:15:00 +0000,Donkey Kong Country 2,01/07/2012 17:15:00 +0000,937.0,"[Donkey, Kong, Country, 2]"
197,Essentia,05/26/2012 22:13:00 +0000,Donkey Kong Country 2,05/26/2012 21:13:00 +0000,1059.0,"[Donkey, Kong, Country, 2]"
300,all levels race,01/09/2013 22:21:38 +0000,Donkey Kong Country,01/09/2013 21:41:00 +0000,62.0,"[Donkey, Kong, Country]"
301,NaN,01/09/2013 23:13:02 +0000,Donkey Kong Country 2,01/09/2013 22:25:00 +0000,63.0,"[Donkey, Kong, Country, 2]"
302,Any%,01/10/2013 01:03:55 +0000,Donkey Kong Country Returns,01/09/2013 23:20:00 +0000,64.0,"[Donkey, Kong, Country, Returns]"
365,any%,07/25/2013 21:57:00 +0000,Donkey Kong Country Returns,07/25/2013 20:12:00 +0000,135.0,"[Donkey, Kong, Country, Returns]"
532,101%. Donations for a glitched run,01/08/2014 23:57:00 +0000,Donkey Kong Country,01/08/2014 22:33:00 +0000,443.0,"[Donkey, Kong, Country]"
533,possible race and donation incentive for lost...,01/09/2014 00:52:00 +0000,Donkey Kong Country 2,01/08/2014 23:57:00 +0000,444.0,"[Donkey, Kong, Country, 2]"
534,any% donations for warpless,01/09/2014 01:52:00 +0000,Donkey Kong Country 3,01/09/2014 00:52:00 +0000,445.0,"[Donkey, Kong, Country, 3]"
612,All Stages,06/23/2014 00:03:00 +0000,Donkey Kong Country,06/22/2014 23:20:00 +0000,530.0,"[Donkey, Kong, Country]"
613,Race!,06/23/2014 01:01:00 +0000,Donkey Kong Country 2: Diddy's Kong Quest,06/23/2014 00:03:00 +0000,678.0,"[Donkey, Kong, Country, 2:, Diddy's, Kong, Quest]"
768,any%,01/04/2015 19:06:00 +0000,Donkey Kong Country Tropical Freeze,01/04/2015 17:00:00 +0000,708.0,"[Donkey, Kong, Country, Tropical, Freeze]"
836,4-way race,01/07/2015 01:56:00 +0000,Donkey Kong Country 2,01/07/2015 00:42:00 +0000,709.0,"[Donkey, Kong, Country, 2]"
937,All Stages race!,07/26/2015 22:52:00 +0000,Donkey Kong Country,07/26/2015 22:10:00 +0000,1120.0,"[Donkey, Kong, Country]"
939,NaN,07/27/2015 00:22:00 +0000,Donkey Kong Country 3,07/26/2015 23:19:00 +0000,1122.0,"[Donkey, Kong, Country, 3]"
1171,NaN,01/06/2016 22:07:20 +0000,Donkey Kong Country Any% All Stages,01/06/2016 21:20:10 +0000,1673.0,"[Donkey, Kong, Country, Any%, All, Stages]"
1172,NaN,01/06/2016 23:55:11 +0000,Donkey Kong Country 2: Diddy's Kong Quest 102%,01/06/2016 22:07:20 +0000,1674.0,"[Donkey, Kong, Country, 2:, Diddy's, Kong, Que..."
1255,NaN,07/04/2016 00:36:00 +0000,Donkey Kong Country: Tropical Freeze Any%,07/03/2016 22:46:00 +0000,1769.0,"[Donkey, Kong, Country:, Tropical, Freeze, Any%]"
1337,NaN,07/06/2016 21:42:00 +0000,Donkey Kong Country 3 Any%,07/06/2016 20:37:00 +0000,1850.0,"[Donkey, Kong, Country, 3, Any%]"
1583,NaN,01/14/2017 04:51:35 +0000,Donkey Kong Country Trilogy Relay Trilogy Relay,01/14/2017 02:18:35 +0000,2101.0,"[Donkey, Kong, Country, Trilogy, Relay, Trilog..."
1767,NaN,09/02/2017 18:13:47 +0000,Donkey Kong Country 2 Any%,09/02/2017 17:28:03 +0000,2612.0,"[Donkey, Kong, Country, 2, Any%]"
1817,NaN,01/08/2018 16:49:00 +0000,Donkey Kong Country 2: Diddy's Kong Quest Any%...,01/08/2018 15:35:00 +0000,2667.0,"[Donkey, Kong, Country, 2:, Diddy's, Kong, Que..."
1818,NaN,01/08/2018 17:55:00 +0000,Donkey Kong Country Reverse Boss Order,01/08/2018 16:49:00 +0000,2668.0,"[Donkey, Kong, Country, Reverse, Boss, Order]"

In [21]:
def tokenize(s):
    try:
        return s.split(' ')
    except:
        return []

In [22]:
runs['desc_token'] = runs.Description.apply(tokenize)

In [23]:
runs.desc_token.apply(lambda x: word_count(x, word_hist))

0       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
1       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
3       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
4       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
5       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
6       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
7       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
8       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
9       {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
12      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
13      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
14      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
15      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
16      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
17      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
18      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
19      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
20      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
21      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
22      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
23      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
24      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
25      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
26      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
27      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
28      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
29      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
30      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
31      {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
                              ...
2072    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2073    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2074    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2075    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2076    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2077    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2078    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2079    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2080    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2081    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2082    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2083    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2084    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2085    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2086    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2087    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2088    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2089    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2090    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2091    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2092    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2093    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2094    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2095    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2096    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2097    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2098    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2099    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2100    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
2101    {'Toejam': 4, 'And': 57, 'Earl': 4, '2:': 40, ...
Name: desc_token, Length: 2100, dtype: object

In [24]:
words = pd.DataFrame.from_dict(word_hist, orient = 'index')

In [25]:
words = words.rename(index = str, columns = {0 : 'count'})

In [26]:
words.sort_values(by = 'count', ascending = False).head(10)

       count
Any%     663
The      336
Of       253
Super    208
for      200
         187
2        163
Mario    141
All      116
Man      104

In [27]:
words['word'] = words.index

In [28]:
words.loc[['%' in s for s in words.word]].sort_values(by = 'count')

             count         word
Blooper%         1     Blooper%
Broken%          1      Broken%
marvel%          1      marvel%
glitches%        1    glitches%
101%.            1        101%.
broken%          1      broken%
Cutscenes%       1   Cutscenes%
DanielSan%       1   DanielSan%
Bee%             1         Bee%
Max%             1         Max%
artifacts%       1   artifacts%
W-Fist%          1      W-Fist%
vision%          1      vision%
Glitch%          1      Glitch%
shoutouts%       1   shoutouts%
Nemesis%;        1    Nemesis%;
any%;            1        any%;
(hardest%)       1   (hardest%)
NTA%             1         NTA%
CCH%             1         CCH%
any%.            1        any%.
Hard%            1        Hard%
Houlihan%        1    Houlihan%
Glitchless%      1  Glitchless%
(6%)             1         (6%)
Talk%            1        Talk%
Pre-Show%        1    Pre-Show%
Amy%             1         Amy%
Cutscene%        1    Cutscene%
Pacifist%        1    Pacifist%
102%             1         102%
Tasbot%          1      Tasbot%
Any%/100%        1    Any%/100%
Cleric%          1      Cleric%
low%.            1        low%.
Mania%           1       Mania%
106%             2         106%
cutscene%        2    cutscene%
1%               2           1%
%                3            %
0%               3           0%
(Any%            4        (Any%
low%             4         low%
100%.           11        100%.
Low%            11         Low%
any%            39         any%
100%            92         100%
Any%           663         Any%

In [29]:
words.loc[['less' in s for s in words.word]]

             count         word
Swordless        2    Swordless
Deathless        2    Deathless
Wingless         1     Wingless
Glitchless      17   Glitchless
Warpless        19     Warpless
Zipless          2      Zipless
(Swordless)      1  (Swordless)
Scriptless       2   Scriptless
(Warpless)       1   (Warpless)
(Zipless)        1    (Zipless)
Glitchless%      1  Glitchless%
potionless.      1  potionless.
warpless         3     warpless
warpless.        1    warpless.
Warpless.        1    Warpless.
Hoverless        1    Hoverless

In [30]:
runs.Description = runs.Description.fillna('')

In [31]:
runs.count()

Description    2100
End Time       2100
Name           2100
Start Time     2100
run_id         2100
name_token     2100
desc_token     2100
dtype: int64

In [32]:
runs.loc[(runs.Description.apply(lambda x: 'co-op' in x)) | (runs.Name.apply(lambda x: 'co-op' in x))]

,Description,End Time,Name,Start Time,run_id,name_token,desc_token
33,4 player co-op on advancedkubelwagon takumi ...,07/07/2014 23:37:59 +0000,Left 4 Dead 2,07/07/2014 23:37:59 +0000,1003.0,"[Left, 4, Dead, 2]","[4, player, co-op, on, advancedkubelwagon, , t..."
53,co-op,01/05/2012 00:48:59 +0000,Portal 2,01/04/2012 23:36:00 +0000,865.0,"[Portal, 2]",[co-op]
133,co-op.,01/07/2012 17:15:00 +0000,Contra Iii,01/07/2012 17:15:00 +0000,945.0,"[Contra, Iii]",[co-op.]
134,co-op,01/07/2012 17:15:00 +0000,Kirby And The Amazing Mirror,01/07/2012 17:15:00 +0000,946.0,"[Kirby, And, The, Amazing, Mirror]",[co-op]
146,4-player co-op. At least; co-op is what they c...,01/07/2012 17:15:00 +0000,Magicka,01/07/2012 17:15:00 +0000,958.0,[Magicka],"[4-player, co-op., At, least;, co-op, is, what..."
263,4-player co-op,01/08/2013 08:07:13 +0000,Left 4 Dead,01/08/2013 06:44:00 +0000,27.0,"[Left, 4, Dead]","[4-player, co-op]"
283,co-op,01/08/2013 23:36:24 +0000,Goof Troop,01/08/2013 23:16:00 +0000,47.0,"[Goof, Troop]",[co-op]
295,4-player co-op,01/09/2013 13:36:54 +0000,Scott Pilgrim Versus The World,01/09/2013 12:39:00 +0000,58.0,"[Scott, Pilgrim, Versus, The, World]","[4-player, co-op]"
425,co-op as much as PJ and Mecha Richter can coo...,07/28/2013 17:53:06 +0000,Teenage Mutant Ninja Turtles Iii: The Manhatta...,07/28/2013 17:09:00 +0000,188.0,"[Teenage, Mutant, Ninja, Turtles, Iii:, The, M...","[co-op, , as, much, as, PJ, and, Mecha, Richte..."
514,100% co-op. Donation incentive for a warps run...,01/08/2014 00:46:00 +0000,Super Mario Bros. 3,01/07/2014 22:42:00 +0000,428.0,"[Super, Mario, Bros., 3]","[100%, co-op., Donation, incentive, for, a, wa..."
524,co-op.,01/08/2014 14:01:00 +0000,Dungeons And Dragons: Shadow Over Mystara,01/08/2014 13:25:00 +0000,438.0,"[Dungeons, And, Dragons:, Shadow, Over, Mystara]",[co-op.]
527,3-player co-op,01/08/2014 19:08:00 +0000,Secret Of Mana,01/08/2014 16:38:00 +0000,440.0,"[Secret, Of, Mana]","[3-player, co-op]"
557,co-op,01/09/2014 16:41:00 +0000,Contra,01/09/2014 16:24:00 +0000,465.0,[Contra],[co-op]
558,co-op,01/09/2014 16:59:00 +0000,Super C,01/09/2014 16:41:00 +0000,466.0,"[Super, C]",[co-op]
560,co-op,01/09/2014 17:41:00 +0000,Chip 'N Dale: Rescue Rangers,01/09/2014 17:25:00 +0000,468.0,"[Chip, 'N, Dale:, Rescue, Rangers]",[co-op]
576,co-op or solo co-op,01/10/2014 09:20:00 +0000,Portal 2,01/10/2014 08:27:00 +0000,481.0,"[Portal, 2]","[co-op, or, solo, co-op]"
579,2014's Octodad? co-op,01/10/2014 12:16:00 +0000,Surgeon Simulator 2013,01/10/2014 11:36:00 +0000,484.0,"[Surgeon, Simulator, 2013]","[2014's, Octodad?, co-op]"
580,co-op,01/10/2014 15:10:00 +0000,Borderlands 2,01/10/2014 12:16:00 +0000,485.0,"[Borderlands, 2]",[co-op]
584,co-op. Donations for a THPS3 run,01/10/2014 17:33:00 +0000,Tony Hawk's American Wasteland,01/10/2014 17:15:00 +0000,489.0,"[Tony, Hawk's, American, Wasteland]","[co-op., Donations, for, a, THPS3, run]"
732,co-op,06/27/2014 10:59:00 +0000,Chip And Dale: Rescue Rangers 2,06/27/2014 10:29:00 +0000,645.0,"[Chip, And, Dale:, Rescue, Rangers, 2]",[co-op]
733,co-op,06/27/2014 11:45:00 +0000,Bubble Bobble,06/27/2014 10:59:00 +0000,646.0,"[Bubble, Bobble]",[co-op]
761,"""Solo co-op""; one player completes co-op mode",06/28/2014 23:07:00 +0000,Portal 2,06/28/2014 22:10:00 +0000,671.0,"[Portal, 2]","[""Solo, co-op"";, one, player, completes, co-op..."
801,co-op,01/06/2015 04:54:00 +0000,Battleblock Theater,01/06/2015 01:28:00 +0000,715.0,"[Battleblock, Theater]",[co-op]
812,co-op,01/06/2015 11:15:00 +0000,Snake Rattle 'N' Roll,01/06/2015 10:49:00 +0000,756.0,"[Snake, Rattle, 'N', Roll]",[co-op]
814,co-op donations for warpless run,01/06/2015 12:19:00 +0000,Battletoads,01/06/2015 11:37:00 +0000,758.0,[Battletoads],"[co-op, , donations, for, warpless, run]"
815,co-op,01/06/2015 12:38:00 +0000,River City Ransom,01/06/2015 12:19:00 +0000,759.0,"[River, City, Ransom]",[co-op]
923,co-op,01/10/2015 20:09:00 +0000,Halo 2,01/10/2015 18:30:00 +0000,831.0,"[Halo, 2]",[co-op]

In [41]:
runs.loc[(runs.Description.apply(lambda x: '2p1c' in x)) | (runs.Name.apply(lambda x: '2p1c' in x))]

,Description,End Time,Name,Start Time,run_id,name_token,desc_token
1143,Bonus Incentive: Super Metroid (Any% 2p1c - Oa...,01/06/2016 00:06:41 +0000,Super Metroid Bonus Any% 2p1c,01/05/2016 22:49:40 +0000,1644.0,"[Super, Metroid, Bonus, Any%, 2p1c]","[Bonus, Incentive:, Super, Metroid, (Any%, 2p1..."
1239,Bonus Incentive: Mario Kart 64 (All Cups 2p1c ...,01/09/2016 20:55:27 +0000,Mario Kart 64 All Cups 2p1c,01/09/2016 20:01:27 +0000,1740.0,"[Mario, Kart, 64, All, Cups, 2p1c]","[Bonus, Incentive:, Mario, Kart, 64, (All, Cup..."

In [38]:
runs.loc[runs.Description.apply(lambda x: '%' in x)]

,Description,End Time,Name,Start Time,run_id,name_token,desc_token
5,100% racetranquilite and dessyreqt,07/07/2014 23:37:56 +0000,Super Metroid,07/07/2014 23:37:56 +0000,977.0,"[Super, Metroid]","[100%, racetranquilite, and, dessyreqt]"
43,100%,07/07/2014 23:38:00 +0000,Demon's Crest,07/07/2014 23:38:00 +0000,1013.0,"[Demon's, Crest]",[100%]
54,100%,01/05/2012 04:14:57 +0000,Super Mario World 2: Yoshi's Island,01/05/2012 01:00:00 +0000,866.0,"[Super, Mario, World, 2:, Yoshi's, Island]",[100%]
81,Race. Donations for low% or 100%.,01/06/2012 07:06:50 +0000,Mega Man X,01/06/2012 06:26:00 +0000,893.0,"[Mega, Man, X]","[Race., Donations, for, low%, or, 100%.]"
82,any%,01/06/2012 07:44:42 +0000,Mega Man X2,01/06/2012 07:09:00 +0000,894.0,"[Mega, Man, X2]",[any%]
109,100%. Donations for small mario-only.,01/07/2012 07:08:37 +0000,Super Mario Bros. 3,01/07/2012 05:38:00 +0000,921.0,"[Super, Mario, Bros., 3]","[100%., Donations, for, small, mario-only.]"
112,theseawolf1 - Added by Donation 100% Good,01/07/2012 13:29:56 +0000,Demon's Crest,01/07/2012 12:36:00 +0000,924.0,"[Demon's, Crest]","[theseawolf1, -, Added, by, Donation, , 100%, ..."
118,Julius Mode. Donations for any% or all bosses.,01/07/2012 17:31:50 +0000,Castlevania: Aria Of Sorrow,01/07/2012 17:15:00 +0000,930.0,"[Castlevania:, Aria, Of, Sorrow]","[Julius, Mode., Donations, for, any%, or, all,..."
121,100%,01/07/2012 17:15:00 +0000,Metroid Zero Mission,01/07/2012 17:15:00 +0000,933.0,"[Metroid, Zero, Mission]",[100%]
122,any%,01/07/2012 17:15:00 +0000,Super Metroid,01/07/2012 17:15:00 +0000,934.0,"[Super, Metroid]",[any%]
152,Donations for character choice. Possibly low%.,01/07/2012 17:15:00 +0000,Sunset Riders,01/07/2012 17:15:00 +0000,964.0,"[Sunset, Riders]","[Donations, for, character, choice., Possibly,..."
163,UltraJman - 100%,05/25/2012 02:45:14 +0000,Kirby's Dream Land 3,05/25/2012 00:58:00 +0000,1025.0,"[Kirby's, Dream, Land, 3]","[UltraJman, -, 100%]"
192,puwexil - 100%,05/26/2012 17:16:46 +0000,Illusion Of Gaia,05/26/2012 14:49:00 +0000,1054.0,"[Illusion, Of, Gaia]","[puwexil, -, 100%]"
207,Dragondarch - 1% run. Donations for the secret...,05/27/2012 06:33:00 +0000,Metroid Fusion,05/27/2012 04:18:00 +0000,1069.0,"[Metroid, Fusion]","[Dragondarch, -, 1%, run., Donations, for, the..."
214,PEACHES_ - 100%,05/27/2012 23:23:00 +0000,Blast Corps,05/27/2012 21:18:00 +0000,1076.0,"[Blast, Corps]","[PEACHES_, -, 100%]"
222,Essentia - Donations for 100%. Return of the S...,05/28/2012 13:13:00 +0000,Final Fantasy Vi,05/28/2012 06:13:00 +0000,1084.0,"[Final, Fantasy, Vi]","[Essentia, -, Donations, for, 100%., Return, o..."
236,100%. Donations for an any% run,01/06/2013 21:54:14 +0000,Shadow Complex,01/06/2013 20:48:00 +0000,3.0,"[Shadow, Complex]","[100%., Donations, for, an, any%, run]"
237,Any%,01/06/2013 23:20:01 +0000,Mischief Makers,01/06/2013 22:19:00 +0000,4.0,"[Mischief, Makers]",[Any%]
238,Metaknightmare mode 100% race.,01/07/2013 00:06:05 +0000,Kirby: Nightmare In Dream Land,01/06/2013 23:30:00 +0000,5.0,"[Kirby:, Nightmare, In, Dream, Land]","[Metaknightmare, mode, 100%, race.]"
239,any% donations for 100%,01/07/2013 02:55:54 +0000,Super Mario World 2: Yoshi's Island,01/07/2013 00:07:00 +0000,6.0,"[Super, Mario, World, 2:, Yoshi's, Island]","[any%, , donations, for, 100%]"
240,any% glitched,01/07/2013 04:07:31 +0000,Donkey Kong 64,01/07/2013 03:12:00 +0000,7.0,"[Donkey, Kong, 64]","[any%, glitched]"
241,100%,01/07/2013 06:51:56 +0000,Banjo-Kazooie,01/07/2013 04:17:00 +0000,8.0,[Banjo-Kazooie],[100%]
257,No whistles. Donations for 100%,01/07/2013 23:40:48 +0000,Super Mario Bros. 3,01/07/2013 22:20:00 +0000,22.0,"[Super, Mario, Bros., 3]","[No, whistles., Donations, for, 100%]"
260,XBLA version 106% donations for the expert re...,01/08/2013 03:49:36 +0000,Super Meat Boy,01/08/2013 02:02:00 +0000,24.0,"[Super, Meat, Boy]","[XBLA, version, 106%, , donations, for, the, e..."
280,Any%,01/08/2013 22:29:51 +0000,Ninja Gaiden (Nes),01/08/2013 22:12:00 +0000,43.0,"[Ninja, Gaiden, (Nes)]",[Any%]
282,Donations for low% (no-pickup run),01/08/2013 23:13:06 +0000,Ninja Gaiden 3,01/08/2013 22:55:00 +0000,45.0,"[Ninja, Gaiden, 3]","[Donations, for, low%, (no-pickup, run)]"
290,100%,01/09/2013 06:24:40 +0000,Metroid Prime,01/09/2013 04:35:00 +0000,53.0,"[Metroid, Prime]",[100%]
291,Any%,01/09/2013 08:05:59 +0000,Metroid Prime 2,01/09/2013 06:33:00 +0000,54.0,"[Metroid, Prime, 2]",[Any%]
302,Any%,01/10/2013 01:03:55 +0000,Donkey Kong Country Returns,01/09/2013 23:20:00 +0000,64.0,"[Donkey, Kong, Country, Returns]",[Any%]
331,Donations for any% or 100%,01/10/2013 23:24:03 +0000,Vvvvvv,01/10/2013 23:04:00 +0000,88.0,[Vvvvvv],"[Donations, for, any%, or, 100%]"
...,...,...,...,...,...,...,...
941,Any% (Game Over Abuse),07/27/2015 01:56:00 +0000,Crash Bandicoot 2: Cortex Strikes Back,07/27/2015 00:54:00 +0000,1124.0,"[Crash, Bandicoot, 2:, Cortex, Strikes, Back]","[Any%, (Game, Over, Abuse)]"
943,Nemesis%; start of Spooky Games Done Quick,07/27/2015 04:27:00 +0000,Resident Evil 3,07/27/2015 03:14:00 +0000,1126.0,"[Resident, Evil, 3]","[Nemesis%;, start, of, Spooky, Games, Done, Qu..."
953,any% Difficult; start of Summer Games Done Quack,07/27/2015 14:20:00 +0000,Ducktales,07/27/2015 14:02:00 +0000,1136.0,[Ducktales],"[any%, Difficult;, start, of, Summer, Games, D..."
959,100%,07/27/2015 18:28:00 +0000,Maldita Castilla,07/27/2015 17:44:00 +0000,1142.0,"[Maldita, Castilla]",[100%]
982,Glitched any%,07/28/2015 13:43:00 +0000,Rygar,07/28/2015 13:27:00 +0000,1161.0,[Rygar],"[Glitched, any%]"
990,100%,07/28/2015 22:19:00 +0000,Metroid Prime 2: Echoes,07/28/2015 19:32:00 +0000,1172.0,"[Metroid, Prime, 2:, Echoes]",[100%]
994,X 100%,07/29/2015 02:19:00 +0000,Mega Man X4,07/29/2015 01:16:00 +0000,1176.0,"[Mega, Man, X4]","[X, 100%]"
995,Starting incentive for any% higher incentive ...,07/29/2015 03:05:00 +0000,Bonus! Castlevania: Symphony Of The Night,07/29/2015 02:19:00 +0000,1180.0,"[Bonus!, Castlevania:, Symphony, Of, The, Night]","[Starting, incentive, for, any%, , higher, inc..."
1004,Hero 30 any%; incentives for Hero 3 and Hero 300,07/29/2015 10:51:00 +0000,Half-Minute Hero,07/29/2015 09:50:00 +0000,1186.0,"[Half-Minute, Hero]","[Hero, 30, any%;, incentives, for, Hero, 3, an..."
1009,100%,07/29/2015 15:26:00 +0000,Kirby Super Star,07/29/2015 14:06:00 +0000,1193.0,"[Kirby, Super, Star]",[100%]
1039,IADI-Speed (hardest%),07/30/2015 15:59:00 +0000,Spear Of Destiny,07/30/2015 15:31:00 +0000,1225.0,"[Spear, Of, Destiny]","[IADI-Speed, (hardest%)]"
1062,Incentive for 100%,07/31/2015 15:11:00 +0000,Bionic Commando: Rearmed 2,07/31/2015 13:23:00 +0000,1247.0,"[Bionic, Commando:, Rearmed, 2]","[Incentive, for, 100%]"
1067,Mortal/Purified any%,07/31/2015 19:20:00 +0000,Wings Of Vi,07/31/2015 18:17:00 +0000,1254.0,"[Wings, Of, Vi]","[Mortal/Purified, any%]"
1072,Warpless race incentive for 100%,08/01/2015 00:05:00 +0000,Super Mario Bros. 3,07/31/2015 22:24:00 +0000,1260.0,"[Super, Mario, Bros., 3]","[Warpless, race, , incentive, for, 100%]"
1074,Starting incentive for any% no OoB higher inc...,08/01/2015 03:36:00 +0000,Bonus! Luigi's Mansion Race,08/01/2015 01:58:00 +0000,1262.0,"[Bonus!, Luigi's, Mansion, Race]","[Starting, incentive, for, any%, no, OoB, , hi..."
1079,NTA%,08/01/2015 13:39:00 +0000,Shadow Of The Colossus,08/01/2015 12:20:00 +0000,1269.0,"[Shadow, Of, The, Colossus]",[NTA%]
1080,CCH%,08/01/2015 14:35:00 +0000,Batman: Arkham Origins,08/01/2015 13:39:00 +0000,1272.0,"[Batman:, Arkham, Origins]",[CCH%]
1081,Starting incentive for any% higher incentive ...,08/01/2015 16:06:00 +0000,Bonus! Minecraft,08/01/2015 14:35:00 +0000,1270.0,"[Bonus!, Minecraft]","[Starting, incentive, for, any%, , higher, inc..."
1082,Any% and Any% no OoB runs,08/01/2015 16:32:00 +0000,Portal,08/01/2015 16:06:00 +0000,1271.0,[Portal],"[Any%, and, Any%, no, OoB, runs]"
1087,Any% No Major Glitches; incentive for 100%,08/01/2015 21:27:00 +0000,Legend Of Zelda: A Link To The Past,08/01/2015 19:26:00 +0000,1277.0,"[Legend, Of, Zelda:, A, Link, To, The, Past]","[Any%, No, Major, Glitches;, incentive, for, 1..."
1091,Co-op run incentive for 100%,08/02/2015 06:33:04 +0000,Chrono Trigger,08/02/2015 01:19:00 +0000,1282.0,"[Chrono, Trigger]","[Co-op, run, , incentive, for, 100%]"
1127,Donation Incentive: Bidwar between any% and Pa...,01/05/2016 10:54:18 +0000,Iji Any% Or Pacifist,01/05/2016 10:08:18 +0000,1629.0,"[Iji, Any%, Or, Pacifist]","[Donation, Incentive:, Bidwar, between, any%, ..."
1128,Bonus Incentive: 100% Normal Run (0:25),01/05/2016 11:28:18 +0000,Hero Core Any% Normal,01/05/2016 10:54:18 +0000,1630.0,"[Hero, Core, Any%, Normal]","[Bonus, Incentive:, 100%, Normal, Run, (0:25)]"
1143,Bonus Incentive: Super Metroid (Any% 2p1c - Oa...,01/06/2016 00:06:41 +0000,Super Metroid Bonus Any% 2p1c,01/05/2016 22:49:40 +0000,1644.0,"[Super, Metroid, Bonus, Any%, 2p1c]","[Bonus, Incentive:, Super, Metroid, (Any%, 2p1..."
1157,Donation Incentive: 100% (0:03),01/06/2016 12:16:41 +0000,Tony Hawk's Pro Skater Any% With 100% Incentive,01/06/2016 11:46:41 +0000,1659.0,"[Tony, Hawk's, Pro, Skater, Any%, With, 100%, ...","[Donation, Incentive:, 100%, (0:03)]"
1174,Bonus Incentive: Super Mario Bros. 3 (Any% no ...,01/07/2016 01:16:29 +0000,Setup 4,01/07/2016 00:34:40 +0000,1676.0,"[Setup, 4]","[Bonus, Incentive:, Super, Mario, Bros., 3, (A..."
1178,End of 2D Mario Block. Bonus Incentive: SMW2: ...,01/07/2016 05:35:04 +0000,Smw2: Yoshi's Island Any%,01/07/2016 05:19:36 +0000,1680.0,"[Smw2:, Yoshi's, Island, Any%]","[End, of, 2D, Mario, Block., Bonus, Incentive:..."
1221,Bonus Incentive: Final Fantasy (Any% - Gyre),01/08/2016 21:18:27 +0000,Final Fantasy Any% (Jp),01/08/2016 20:56:27 +0000,1722.0,"[Final, Fantasy, Any%, (Jp)]","[Bonus, Incentive:, Final, Fantasy, (Any%, -, ..."
1245,Donation Incentives: Saveslot Names Bid War (3...,01/10/2016 01:18:14 +0000,The Legend Of Zelda: A Link To The Past Revers...,01/09/2016 23:31:27 +0000,1742.0,"[The, Legend, Of, Zelda:, A, Link, To, The, Pa...","[Donation, Incentives:, Saveslot, Names, Bid, ..."
1282,Bonus run: Mega Man 9 Any%,07/04/2016 18:55:00 +0000,Mega Man 9 Any%,07/04/2016 18:12:00 +0000,1797.0,"[Mega, Man, 9, Any%]","[Bonus, run:, Mega, Man, 9, Any%]"

check:
- all (all stages)
- no (no major glitches)
- new/ng (ng+)
- difficulty levels (easy/normal/hard + exceptions: insane, legendary, etc)

extraction: split after one of these words until end/./(others)

In [35]:
# takes a string (description or name) and attempts to extract a coherent category
def extract_categories(s):
    # common delimiting words/strings for category names (going left to right)
    # TODO: convert these to regex for .findall
    categories = ['all', 'no', 'new', '\+', 'relay', 'race', 'TAS',
                  'oob', 'easy', 'normal', 'hard', 'insane', 'legendary', 
                  'ng\+']
    # capturing expressions for regex
    regex = ['\w+ ?% ', '\w+less', '\dp\dc', '\d players? \d controllers?', 
             '\d+[ -]exit|star|shine', 'in[- ]?bounds', 'new game ?\+', 'blind(fold)?', 
             '\d|multi|single[ -]?player', '(solo)? co-op']
    
    for exp in regex:
        cats = re.findall(exp, s)
        
        if len(cats) > 0:
            return cats[0]

In [50]:
runs.iloc[43]

Description
End Time             07/07/2014 23:38:00 +0000
Name                 Toejam And Earl (Not Run)
Start Time           07/07/2014 23:38:00 +0000
run_id                                    1015
name_token     [Toejam, And, Earl, (Not, Run)]
desc_token                                  []
Name: 45, dtype: object